<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>Donald Trump Timeline</title>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-slider.min.css">

    <link rel="icon" type="image/png" href="./favicon.png">
  </head>

  <style>
    html, body, #container {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    body {
      padding-top: 100px;
    }

    h1 {
      font-size: 30px;
      margin-bottom: 5px;
    }

    h1 a {
      font-size: 20px;
    }

    h2 {
      font-size: 20px;
      margin: 0;
    }

    #map {
      width: calc(100% - 450px);
      height: 100%;
    }

    .navbar {
      min-height: 100px;
      box-shadow: 0 3px 14px rgba(0,0,0,.2);
    }

    #dateSlider {
      margin-top: 40px;
    }

    .slider.slider-horizontal {
      width: 350px;
    }

    .togglePause-btn-top {
      width: 200px;
      height: 40px;
      margin: 30px 30px 0 70px;
    }

    .legend {
      position: absolute;
      right: 0px;
      top: 100px;
      width: 450px;
      padding: 30px;
      height: calc(100% - 100px);
      overflow-y: scroll;
    }

    div.cartodb-legend {
      position: relative;
      padding: 0;
      border: 0;
      box-shadow: none;
      right: 0;
      bottom: 0;
      margin-bottom: 30px;
    }

    div.cartodb-legend.custom ul li, div.cartodb-legend .legend-title, .legend p {
      margin-bottom: 20px;
      text-transform: none;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5em;
      color: 0;
      height: auto;
    }

    div.cartodb-legend.custom ul li .bullet {
      width: 16px;
      height: 16px;
    }

    .trump-marker img {
      margin-left: -8px;
    }

    .trump-img {
      width: 26px;
    }

    .trump-marker--new img {
      animation-name: trumpMarkerNew;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 0.5s;
    }

    @keyframes trumpMarkerNew {
        0% {
            transform: scale(3);
        }
        100% {
            transform: scale(1);
        }
    }

    .leaflet-popup-content img {
      width: 100%;
      margin-top: 10px;
    }

    .leaflet-popup-content p {
      font-size: 15px;
      margin: 0;
    }

    .leaflet-popup-content h3 {
      margin-bottom: 30px;
    }

    .leaflet-container a {
      color: #337ab7;
    }

    .leaflet-popup-content-wrapper {
      border-radius: 0;
    }

  </style>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>
          The Donald Trump timeline
          </h1>
          <h2>
            <em>Currently showing: <span class="titledate"></span></em>
          </h2>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <input style="display:none" id="dateSlider" data-slider-id='dateSlider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
            </li>
            <li>
               <button type="button" class="btn btn-primary js-togglePause togglePause-btn-top"></button>
          </ul>
        </diV>
      </div>
    </nav>

    <div id="container">

      <div id="map">

      </div>

      <div class="legend">
        <p>The states map shows who was leading, at a given date, in the Republican primaries polls. </p>

        <p>Key:</p>
        <div class="cartodb-legend-container"></div>

        <p>When two candidates are tied for the lead (within margin of error), the state is displayed with <img src="hachures.png"> hachures.</p>

        <p>You can click on a state to get the exact results, the date and the source of the poll.</p>
        <p>Each Trump icon <img class="trump-img" src="trumpface.png"> reveals a quote from Donald Trump, or a significant event in Trump's campaign. You can either let the timeline unravel by itself, or use the slider on the top right to navigate to a specific date.</p>
        <p>This map has been made with <a href="http://cartodb.com">CartoDB</a>, using CartoDB.js and the SQL API.</p>
        <p>The source code can be found in this <a href="http://bl.ocks.org/nerik/1dc194efe6247f10b41a">bl.ock</a>.</p>
        <p>Aggregated data has been originally found on this Wikipedia page : <a href="https://en.wikipedia.org/wiki/Statewide_opinion_polling_for_the_Republican_Party_presidential_primaries,_2016">Statewide opinion polling for the Republican Party presidential primaries, 2016</a></p>
      </div>

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="bootstrap-slider.min.js"></script>

    <script type="text/template" class="choroSQLTemplate">
      SELECT DISTINCT
      ON (state)
      rep_polls_1.cartodb_id,
      _1st, _2nd, _3rd,
      state,
      date,
      poll_source,
      ne_50m_admin_1_states.the_geom,
      ne_50m_admin_1_states.the_geom_webmercator,
      ne_50m_admin_1_states.postal
      FROM rep_polls_1, ne_50m_admin_1_states
      WHERE date < '<%= end %>'
      AND date > '<%= start %>'
      AND ne_50m_admin_1_states.name = rep_polls_1.state
      ORDER BY state, date DESC
    </script>

    <script type="text/template" class="quotesSQLTemplate">
      SELECT
      *,
      ST_X(the_geom) as lon,
      ST_Y(the_geom) as lat
      FROM trump_quotes
      WHERE the_geom IS NOT NULL
      ORDER BY date ASC
    </script>




    <script type="text/template" class="cartoTemplate">
      @pattern: url(https://raw.githubusercontent.com/nerik/cartodb-sandbox/master/trump/pattern2.png);

      <% // cartocss variables %>
      <% candidates.forEach(function(candidate){ %>
        @<%= candidate.name %>: <%= candidate.value %>;
      <% }) %>
      @otherCandidates: <%= otherCandidates.value %>;

      #rep_polls_1 {
        polygon-opacity: 1;
        polygon-fill: #FF0FFF;

        <% var hachureIndex = 0; %>

        <% // basic choropleth %>
        [_1st=~'.*[<% print(otherCandidates.names.join('|')) %>].*']{
           polygon-fill: @otherCandidates;
        }
        <% candidates.forEach(function(candidate){ %>
          [_1st=~'.*<%= candidate.name %>.*']{
             polygon-fill: @<%= candidate.name %>;

             <% // for each candidate, generate a hachure style for 2nd candidate %>
             <% // 1st for other candidates %>
             [_2nd=~'.*[<% print(otherCandidates.names.join('|')) %>].*'][_3rd='']::hachures<%= hachureIndex %> {
                polygon-pattern-file: @pattern;
                image-filters:colorize-alpha(@otherCandidates);
             }

             <% // then each 2nd principal candidate %>
             <% candidates.forEach(function(secondCandidate){ %>
                <% if (candidate !== secondCandidate){ %>
                  <% hachureIndex++; %>
                  [_2nd=~'.*<%= secondCandidate.name %>.*'][_3rd='']::hachures<%= hachureIndex %> {
                     polygon-pattern-file: @pattern;
                     image-filters:colorize-alpha(@<%= secondCandidate.name %>);
                  }
                <% } %>
            <% }) %>
           }
        <% }) %>


        [_3rd!=''] {
          polygon-fill: #AAA;
        }

        ::lines {
           line-color: #FFF;
           line-width: 1;
           line-opacity: 1;
        }

        [state='Iowa']::lines2,
        [state='New Hampshire']::lines2 {
           line-color: #000000;
           line-width: 2;
        }
      }
    </script>


    <script type="text/template" class="quotesPopupTemplate">
      <p><em><%= date %></em></p>
      <p><b><em><% if (city !== '') { %><%= city %>, <% } %><%= state %></em></b></p>
      <% if (image) { %>
        <img src="<%= image %>">
      <% } %>
      <h3><%= content %></h3>
      <!-- <button type="button" class="btn btn-primary js-togglePause">▌▌ pause playing</button> -->
    </script>




    <script>

    var map = new L.Map('map', {
      center: [40.1,-100.3],
      zoom: 5
    });

    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_nolabels/{z}/{x}/{y}.png',{
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    }).addTo(map);


    var dateAmplitudeDays = 190;
    var endDate = '2015-12-22';

    var playing;

    var candidates = [
      {name:'Trump',  value:'#ff9cce'},
      {name:'Carson',  value:'#00ff00'},
      {name:'Cruz',  value:'#F11810'},
      {name:'Bush',  value:'#5CA2D1'}
    ];

    var otherCandidates = {
      names: ['Walker','Huckabee','Kasich','Paul','Rubio','Fiorina'],
      value: '#A16234'
    };

    var additionalLegendData = [
      {name:'Other candidates ('+otherCandidates.names.join(', ')+')',  value: otherCandidates.value},
      {name:'3 or more candidates statistically tied for the lead',  value:'#aaa'},
      {name:'No polling data in last six months',  value:'#fff'},
    ]

    var allQuotes;
    var quotes = [];
    var choroplethSubLayer, quotesLayer, slider, autoNextDayTimeout;
    var choroSQLTemplate = _.template($( ".choroSQLTemplate" ).html());
    var quotesSQLTemplate = _.template($( ".quotesSQLTemplate" ).html());
    var quotesPopupTemplate = _.template($( ".quotesPopupTemplate" ).html());
    var cartoTemplate = _.template($( ".cartoTemplate" ).html());
    var previousQueriedChoroMoment;


    var getMomentFromSlider = function (v) {
      return moment(endDate).subtract(dateAmplitudeDays - v, 'days');
    }

    var getSliderOffsetFromMoment = function (m) {
      return dateAmplitudeDays - moment(endDate).diff(m, 'days') - 1;
    }

    var initUI = function () {
      slider = new Slider("#dateSlider", {
      	formatter: function(value) {
          var m = getMomentFromSlider(value);
      		return m.format('LL');
      	},
        min: 0,
        max: dateAmplitudeDays,
        ticks: [
          0,
          dateAmplitudeDays
        ],
        ticks_labels: [
          getMomentFromSlider(0).format('MMM DD'),
          getMomentFromSlider(dateAmplitudeDays).format('MMM DD')
        ],
        value: 0
      }).on('slideStop', function(e) {
        pause();
        changeDate(getMomentFromSlider(slider.getValue()), true);
      }).on('slide', function (e) {
        pause();
      });

      $('body').on('click', '.js-togglePause', function() {
        togglePause();
      });

      // legend
      var legend = new cdb.geo.ui.Legend.Custom({
        data: candidates.concat(additionalLegendData)
      });
      legend.addTo('')
      legend.$el.prependTo(".cartodb-legend-container")


    }

    var togglePause = function () {
      if (playing) {
        pause();
      } else {
        resume();
      }
    }

    var resume = function () {
      playing = true;
      nextDay();
      $('.js-togglePause').html('▌▌ pause playing');
    }

    var pause = function (atEnd) {
      playing = false;
      clearTimeout(autoNextDayTimeout);
      $('.js-togglePause').html((atEnd) ? '► restart' : '► resume playing');

    }

    var nextDay = function () {
      var nextQuote = allQuotes[quotes.length];
      var m;

      if (nextQuote) {
        m = moment(nextQuote.date);
      } else {
        m = moment(endDate);
        pause(true);
      }
      var sliderValue = getSliderOffsetFromMoment(m);
      slider.setValue(sliderValue);

      var autoShowPopup = changeDate(m);

      if (nextQuote) {
        var nextDelay = autoShowPopup ? 3000 : 1000;
        autoNextDayTimeout = setTimeout(nextDay, nextDelay);
      } else {
        quotes = [];
      }
    }

    var changeDate = function (m, preventViewportChange) {
      var sqlDateEnd = m.format('YYYY-MM-DD');
      var sqlDateStart = m.clone().subtract(6, 'months').format('YYYY-MM-DD');
      var dates = {
        start: sqlDateStart,
        end: sqlDateEnd
      };

      $('.titledate').html(m.format('LL'));

      // prevents a new SQL query on the choro map for dates that are too close
      if (!previousQueriedChoroMoment || Math.abs(m.diff(previousQueriedChoroMoment, 'days')) > 5) {
        previousQueriedChoroMoment = m.clone();
        var choroSQL = choroSQLTemplate(dates);
        choroplethSubLayer.setSQL(choroSQL);
      }

      return showMarkers(m, preventViewportChange);
    }

    function showMarkers(sliderMoment, preventViewportChange) {

      quotes = allQuotes.filter(function (quote) {
        return moment(quote.date).isBefore(sliderMoment.clone().add(1, 'days'), 'days');
      })

      var previousNumMarkers;
      if (quotesLayer) {
        previousNumMarkers = quotesLayer.getLayers().length;
        map.removeLayer(quotesLayer);
      };

      var hasNewMarker = previousNumMarkers !== quotes.length;

      var markers = quotes.map(function (quote, index) {
        var classNames = 'trump-marker';

        if (hasNewMarker && index === quotes.length-1) {
          classNames += ' trump-marker--new';
        }
        var marker = L.marker([quote.lat, quote.lon], {
          icon: L.divIcon({
            className: classNames,
            html: '<img class="trump-img" src="trumpface.png">'
          })
        }).bindPopup( quotesPopupTemplate({
          date: moment(quote.date).format('LL'),
          city: quote.city,
          state: quote.state,
          image: quote.image,
          content: quote.content.replace(/\[(.+)\]\((.+)\)/gi, '<a href=$2>$1</a>')
        })).on('click', function () {
          pause();
        });
        marker.quote = quote;
        return marker;
      })
      quotesLayer = L.layerGroup(markers).addTo(map);

      if (!preventViewportChange && hasNewMarker && markers.length) {
        var mostRecentMarker = markers[markers.length-1];
        map.setView(mostRecentMarker.getLatLng());

        if (true /*mostRecentMarker.quote.autoshow === true*/) {
          mostRecentMarker.openPopup();
          return true;
        }
      }
    }


    cartodb.createLayer(map, 'https://nerik.cartodb.com/api/v2/viz/ba8a2e72-a57e-11e5-9e7c-0e31c9be1b51/viz.json')
      .addTo(map)
      .on('done', function(layer) {
        initUI();

        choroplethSubLayer = layer.getSubLayer(0);
        var carto = cartoTemplate({candidates: candidates, otherCandidates: otherCandidates});
        choroplethSubLayer.setCartoCSS(carto);

        var quotesSQL = quotesSQLTemplate()
        $.getJSON('https://nerik.cartodb.com/api/v2/sql/?q=' + quotesSQL, function(data) {
          allQuotes = data.rows;
          resume();
        });
      }).on('error', function() {
        //log the error
      });

    </script>
  </body>
</html>
